{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="text-align: right;">
    <button type="button" class="btn btn-success btnLogin" style="width:200px" onclick="location.href='http://127.0.0.1:8000/login'">Login</button>
</div>
<h1>Reserva de Recursos</h1>
<h3>Qual recurso deseja reservar?</h3>
<button type="submit" onclick="location.href='http://127.0.0.1:8000/';" class="btn btn-outline-primary btnIndex">Sala</button>
<button type="button" onclick="location.href='http://127.0.0.1:8000/';"class="btn btn-outline-primary btnIndex">Carro</button>

<button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/reservas/Fordka"> Ford Ka</button>
<button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/reservas/Onix">Onix</button>
<button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/reservas/HB20">HB20</button>
{% endblock %}