{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if not request.user.endswith == m %}
        <meta http-equiv="refresh" content="0; URL={% url 'aprovarCarro' %}" />
    {% else %}
        <meta http-equiv="refresh" content="0; URL={% url 'aprovarSala' %}" />
    {% endif %}
{% else %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row justify-content-md-center">
    {% for item in login.visible_fields %}
            <div class="col-md-auto formsala">
                <label class='label' for="{{login.id_for_label}}">{{item.label}}</label>
                {{item}}
        {% endfor %}
    <input type="submit" class="btn btn-success" value="Enviar" style="margin-top:10px;">
            </div>
    </div>
</form>
{% endif %}
{% endblock %}