#id_nome{
    width:100%;
    margin-bottom:5%;
}
#id_email{
    width:100%;
    margin-bottom:5%;
}
#id_salas{
    margin-bottom:5%;
}
.formsala{
    padding-top:5%;
}


#id_carro{
    margin-bottom:5%;
}
#messageDiv{
    opacity:1;
    transition:opacity 1s;
}
#messageDiv.fade{
    opacity:0;
}
.card:hover{
    transform:scale(1.1);
    box-shadow: 5px 6px 6px 2px #e9ecef;
}
.datepicker table tr td{
    background:#5cb85c;
}
.datepicker table tr td,
.datepicker table tr th{
    text-align: center;
    padding: 8px 12px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius:10px;

}
.datepicker table tr td.highlighted{
    border-radius:10px!important;
}
@media only screen and (min-width:1767px){
#messageDiv{
    opacity:1;
    transition:opacity 1s;
}
#messageDiv.fade{
    opacity:0;
}
.formsala{
    padding-top:10%;
}
.btnIndex{
    padding:10px;
    font-size:20px;
}
.btnLogin{
    font-size:20px;
}
.datepicker table tr td{
    background:#5cb85c;
}
.datepicker table tr td,
.datepicker table tr th{
    text-align: center;
    padding: 5px 20px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius:10px;

}
.datepicker table tr td.highlighted{
    border-radius:10px!important;
    background:red!important;
}
.fade-in{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn{
    0%{opacity:0;}
     100%{opacity:1;}
}
@-moz-keyframes fadeIn{
    0%{opacity:0;}
     100%{opacity:1;}
}
@-webkit-keyframes{
    0%{opacity:0;}
     100%{opacity:1;}
}
@-o-keyframes{
    0%{opacity:0;}
     100%{opacity:1;}
}
@-ms-keyframes{
    0%{opacity:0;}
     100%{opacity:1;}
}
}
